.fbPreviewImg {
    float: left;
    padding-right: 4px;
    padding-bottom: 4px;
    opacity: 0.6;
    height: 100px;
}

#facebookGalleryPreview {
    padding: 50px 20px 20px 50px;
    text-align: center;
    font-style: italic;
}

#facebookGalleryPreview .caption {
    display: none;
}

#fb-auth {
  
    float: right;
    border: solid black 1px;
    font-weight: bold;
    padding: 4px;
    
    cursor: pointer;
}

#fbImportButton, #facebookLoadAlbumsButton, .publishAllPicsButton {
    font-size: 120%;
    font-weight: bold;
    padding: 4px;
    margin-right: 20px;
}

.publishAllPicsButton {
    margin-right: 0px;
}

.albumListing li {
    cursor: pointer;
    width: 220px;
    float: left;
    display: inline;
    min-height: 280px;
}

.hidden {
    display: none;
}


#user-info {
    padding-bottom: 10px;
}


.processing {
    opacity:1;
    padding-left: 20px;
    padding-right: 20px;
    background: white url(/cms/images/network-save.gif) no-repeat center left;
}